@charset "utf-8";
/* CSS Document */
#head
{
	position:relative;
	height:175px;
	background:#006600;
	border:dashed;
	text-align:center;
	font-family: "Courier New", Courier, monospace;
}
#log_reg
{
	position:relative;
	float:right;
	top:-60px;
	border:medium #0066FF solid;
	font-style:italic;
}

#main_body
{
	background:url(../resource/background.jpg);
	position:relative;
	height:1000px;
	
}

#main_menu
{
	position:relative;
	left:10%;
	right:10%;
	top:20px;
	width:80%;
	height:50px;
	
	background:url(../resource/main_menu.png);
}

#menu_table
{
	width:100%;
	height:100%;
	border:thin solid black;
}
#menu_table td
{
	border:thin dotted #0033FF;
}
#menu_table td:hover
{
	background:#006600;
}
#doctorList
{
	position: relative;
	width: 10%;
	top:-31px;
	float: right;
}